@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        <a class="btn col-3 btn-success m-3" id="btnGo" asp-page="/ProtectedPage">Go to the protected page</a>
    </div>
</div>
