@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p> Welcome to the GP Connect Access Record FHIR API demo </p>
</div>

<div class="container">
    <div class="row">
        <a class="nhsuk-button" id="btnGo" asp-page="/Home">Login to demo</a>
    </div>
</div>
